.form {
    width: 500px;
    margin: 0 auto;
}

.formGroup {
    margin-bottom: 10px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
}

.formGroup select,
.formGroup input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.formGroup input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.formGroup input:focus {
    outline: none;
    border-color: #000;
}